<div class="row">
                
                <h2>Education</h2>
                <p><strong>UCLA</strong></p>
                <em>B.S. Biophysics</em>
                <p><strong>Regis</strong></p>
                <em>M.S. Software Engineering</em>
            </div>
            
            <div class="row">
                <h2>Work</h2>
                <p><strong>Fairfield Nodal</strong></p>
                <em>Quality Control Physicist</em>
            </div>
            
            <div class="row">
                <h2>Bio</h2>
                <ul>
                    <li>Surfer</li>
                    <li>Traveler</li>
                    <li>Speak Spanish and Russian</li>
                    <li>Grew up in San Diego</li>
                </ul>     
            </div>


            
  {{#link-to 'contact' class="button"}}
    Contact
  {{/link-to}}
