<div>
    <h2>Devin Andres Salemi</h2>
    <address>
      8286 Avenida Navidad #3<br>
      San Diego, CA 92122
    </address>

    <p>devin.a.salemi@gmail.com</p>
</div>


{{#link-to 'about' class="button"}}
    About
  {{/link-to}}